All_Data/AILA_2019_Dataset/Object_casedocs
All_Data/AILA_2019_Dataset/Object_statutes
All_Data/IRLED_2017_Dataset/Current_Cases
All_Data/IRLED_2017_Dataset/Prior_Cases
All_Data/Generated_Data/IR_Datasets/*
!All_Data/Generated_Data/IR_Datasets/.gitkeep
All_Data/Generated_Data/PreProcessed_Data_AILA/*
!All_Data/Generated_Data/PreProcessed_Data_AILA/.gitkeep
All_Data/Generated_Data/PreProcessed_Data_IRLED/*
!All_Data/Generated_Data/PreProcessed_Data_IRLED/.gitkeep
All_Data/Generated_Data/RR_Embeddings/*
!All_Data/Generated_Data/RR_Embeddings/.gitkeep
All_Data/Document_Summarization_Dataset/*
!All_Data/Document_Summarization_Dataset/README.md
All_Data/NER_Datasets/Standard_NER_Dataset/*
!All_Data/NER_Datasets/Standard_NER_Dataset/.gitkeep
All_Data/NER_Datasets/Indian_Legal_NER_Dataset/*
!All_Data/NER_Datasets/Indian_Legal_NER_Dataset/.gitkeep
All_Data/Generated_Data/Indian_Legal_NER_Dataset/*
!All_Data/Generated_Data/Indian_Legal_NER_Dataset/.gitkeep
Saved_Models/NER_Models/*
!Saved_Models/NER_Models/.gitkeep
ILSUM_Competition/Dataset/*
!ILSUM_Competition/Dataset/.gitkeep