All_Data/AILA_2019_Dataset/Object_casedocs
All_Data/AILA_2019_Dataset/Object_statutes
All_Data/Generated_Data/RR_Embeddings
All_Data/Document_Summarization_Dataset/*
!All_Data/Document_Summarization_Dataset/README.md
All_Data/NER_Datasets/Standard_NER_Dataset/*
All_Data/NER_Datasets/Indian_Legal_NER_Dataset/*
ILSUM_Competition/Dataset